.reg-form-parent{
  background:indigo;
  height: 100vh;
}
.reg-form{
  border-radius: 10px;
  background-color: #fff;
  padding: 2em;
}
.reg-heading{
  text-align: center;
  font-size: 30px;
}
mat-hint{
  font-weight: bold;
}
