<div class="common-container reg-form-parent flex flex-justify-content-center flex-align-items-center">
  <form class="wrapper reg-form grid grid-2-col grid-1em-gap" [formGroup]="userRegDetails" (ngSubmit)="onFormSubmit()">
    <h2 class="grid-complete-columns reg-heading">Register</h2>
    <mat-form-field floatLabel="auto" appearance="fill" color="accent">
      <mat-label>Name</mat-label>
      <input type="text" matInput placeholder="Name" formControlName="name">
      <mat-hint align="end">Min 3 characters</mat-hint>
      <small
        *ngIf="userRegDetails.get('name').touched && userRegDetails.get('name').invalid && userRegDetails.get('name').errors?.['required']">*Name
        is a
        required field
      </small>

      <small *ngIf="userRegDetails.get('name').errors?.['minlength']">*Name
        must be atleast of 3 characters
      </small>

      <mat-icon matSuffix color="primary">person</mat-icon>
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Password" formControlName="password">
      <small
        *ngIf="userRegDetails.get('password').invalid && userRegDetails.get('password').touched &&  userRegDetails.get('password').errors?.['required']">*Password
        is a
        required field</small>
      <small *ngIf="userRegDetails.get('password').errors?.['minlength']">*Password
        must be atleast of 6 characters</small>

      <mat-hint align="end">Min 6 characters</mat-hint>

      <mat-icon matSuffix color="primary">lock</mat-icon>
    </mat-form-field>
    <mat-form-field color="accent" class="grid-complete-columns">
      <mat-label>Email</mat-label>

      <input type="email" matInput placeholder="Email" formControlName="email">

      <small *ngIf="userRegDetails.get('email').touched && userRegDetails.get('email').errors?.['required']">*Email is a
        required field</small>

      <small *ngIf="userRegDetails.get('email').errors?.['email']">*Input must be typeof "Email"</small>

      <mat-icon matSuffix color="primary">mail</mat-icon>
    </mat-form-field>
    <button mat-raised-button class="grid-complete-columns grid-justify-self-center" color="primary">Submit</button>
    <div class="text-below-container">Already have an account
      <a class="grid-complete-columns grid-justify-self-center " [routerLink]="'/login'">Sign In</a>
    </div>
  </form>
</div>