<p>
  <mat-toolbar>
    <div class="container">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon class="mat-list" >list</mat-icon>
        <!-- <mat-icon id="profile" color="primary">perm_identity</mat-icon> -->
      </button>
      <span class="heading">Todo App</span>
    </div>
    <div class="button-container">
      <button mat-button color="primary" id="custom-button" [routerLink]="'/register'">Register</button>
      <button mat-button color="primary" id="custom-button" [routerLink]="'/login'">Login</button>
    </div>
  </mat-toolbar>
</p>