/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// utility classes
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper{
  padding: 2em;
}
.common-container{
  padding: 1em;
  // line-height: 0.5rem;
}
small{
  font-weight: bold;
  color: red;
}
.outer{
  max-width: 800px;
  margin: 0 auto;
  padding: 0.7em 0;
}
// grid
.grid{
  display: grid;
}
.grid-2-col{
  grid-template-columns: repeat(2,1fr);
}
.grid-3-col{
  grid-template-columns: repeat(3,1fr);
}
.grid-1em-gap{
  gap: 1em;
}
.grid-align-items-start{
  align-items: start;
}
.grid-complete-columns{
  grid-column: 1/-1;
}
.grid-justify-self-start{
  justify-self: start;
}
.grid-justify-self-center{
  justify-self: center;
}

// flex
.flex{
  display: flex;
}
.flex-justify-content-center{
  justify-content: center;
}

.flex-justify-content-space-between{
  justify-content: space-between ;
}
.flex-align-items-center{
  align-items: center;
}
.flex-direction-column{
  flex-direction: column;
}
.flex-direction-row{
  flex-direction: row !important;
}
.flex-common-gap{
  gap: 1em;
}



.text-below-container{
  text-align: center;
  font-weight: 700;
}

.home-container{
       
  text-align: center;  
  color: #3f51b5;
  font-weight: 700;
}

.home-container h1{
    font-style: italic;
}

//for home icon

.icon-container {
  position:fixed; /* Ensure the container is positioned */
  width: 100%; /* Set the width to fill the container */
  height: 100%; /* Set the height to fill the container */
}

.home-icon {
  position: absolute; /* Position the icon absolutely within its container */
  top: 0; /* Position the icon at the top */
  left: 0; /* Position the icon at the left */
  margin: 1rem;
}


