body{
        margin:0;
        padding: 0;
        height: 100%;
}

.main-container{  
        background:url('Todo.gif') center/contain;
        background-repeat: no-repeat;
       
}


.container{
        height: 90vh;
}

      
